/* ----------------
  Login
---------------------*/

h2 {
	margin-bottom: 50px;
	margin-left: 43%;
	font-size: 30px;
	color: white;
}

.container-login {
	max-width: 25%;
	margin-left: 38%;
}

.login-page {
	padding: 4% 0 4%;
	margin: auto;
}

.site-btn {
	margin-top: 8%;
	margin-left: 37%;
}

.error {
	color: red;
}

.message {
	color: white;
}

.login-form input,
.login-form textarea {
	width: 100%;
	border: none;
	background-color: transparent;
	border-bottom: 2px solid rgba(255, 255, 255, 0.54);
	padding-bottom: 20px;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 16px;
	font-style: italic;
	color: #fff;
	line-height: 1;
}

.login-form textarea {
	line-height: 1.4;
	height: 156px;
	margin-bottom: 48px;
}

.login-form .site-btn img {
	left: 5px;
}

.login-text h3 {
	margin-bottom: 25px;
}

.login-text p {
	line-height: 1.9;
	color: #68647d;
	margin-bottom: 50px;
}

.cont-info {
	overflow: hidden;
	margin-bottom: 20px;
}

.cont-info .ci-icon {
	float: left;
	width: 32px;
	margin-right: 26px;
}

.cont-info .ci-text {
	overflow: hidden;
	font-size: 16px;
	font-weight: 500;
}