/* ----------------
 Blog Section
---------------------*/

.blog-section {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#501755+0,2d1854+100 */
	background: #501755;
	/* Old browsers */
	/* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(45deg, #501755 0%, #2d1854 100%);
	background: linear-gradient(45deg, #501755 0%, #2d1854 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#501755', endColorstr='#2d1854', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}

.blog-section .section-title {
	margin-bottom: 25px;
}

.blog-filter {
	list-style: none;
	display: block;
}

.blog-filter li {
	display: inline-block;
}

.blog-filter li a {
	display: block;
	color: #fff;
	padding: 16px 36px;
	font-size: 16px;
	font-weight: 700;
	background: #6f2b95;
	line-height: 1.1;
	margin-right: 7px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 10px;
}

.blog-filter li a:hover {
	background: #b01ba5;
}

.blog-item {
	margin-top: 86px;
}

.blog-item .blog-thumb {
	width: 362px;
	float: left;
	margin-right: 30px;
}

.blog-item .text-box {
	overflow: hidden;
}

.blog-item .text-box p {
	margin-bottom: 42px;
}

.widget-item {
	margin-bottom: 85px;
}

.widget-item:last-child {
	margin-bottom: 0;
}

.widget-item .widget-title {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-style: italic;
	padding-left: 38px;
	margin-bottom: 48px;
}

.trending-widget .tw-item {
	margin-bottom: 38px;
}

.trending-widget .tw-item:last-child {
	margin-bottom: 0;
}

.trending-widget .tw-thumb {
	float: left;
	margin-right: 17px;
	overflow: hidden;
	max-height: 70px;
	max-width: 70px;
}

.trending-widget .tw-text .tw-meta {
	color: #68647d;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 7px;
}

.trending-widget .tw-text .tw-meta a {
	color: #b01ba5;
}

.trending-widget .tw-text h5 {
	font-size: 18px;
	color: #fff;
	line-height: 1.5;
}

.categories-widget {
	background: #34164b;
	padding: 55px 0 25px;
}

.categories-widget ul {
	list-style: none;
	padding: 0 38px;
}

.categories-widget ul li {
	display: block;
}

.categories-widget ul li a {
	display: inline-block;
	position: relative;
	font-size: 16px;
	color: #68647d;
	font-weight: 500;
	margin-bottom: 15px;
	padding-right: 19px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	background-image: url("../../../assets/img/icons/double-arrow.png");
	background-repeat: no-repeat;
	background-position: right -120% center;
	background-size: 11px;
}

.categories-widget ul li a:hover {
	color: #b01ba5;
	background-position: right center;
}

.latest-comments .lc-item {
	margin-bottom: 30px;
}

.latest-comments .lc-item:last-child {
	margin-bottom: 0;
}

.latest-comments .lc-item .lc-avatar {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	float: left;
	margin-right: 12px;
}

.latest-comments .lc-item .tw-text {
	padding-top: 10px;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
}

.latest-comments .lc-item .tw-text a {
	color: #b01ba5;
}

.latest-comments .lc-item .tw-text span {
	color: #68647d;
}

.col{
	display: flex;
	flex-direction: column;
}