<!-- Page top section -->
<section class="page-top-section">
	<div class="page-info">
		<h2>Home</h2>
		<div class="site-breadcrumb">
			<a href="/" routerLink="/">Home</a>
		</div>
	</div>
</section>
<!-- Page top end-->

<!-- Blog section -->
<section class="blog-section spad">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 col-lg-8 col-md-7">
				<div class="section-title text-white">
					<h2>Latest Games</h2>
				</div>
				<!-- Blog item -->
				<div class="col">
					<div class="blog-item" *ngFor="let game of gameListRecent; let i = index">
						<div class="blog-thumb">
							<img src="{{game.imageUrl}}" alt="">
						</div>
						<div class="blog-text text-box text-white">
							<h3>{{game.title}}</h3>
							<p>{{game.description}}</p>
							<div class="top-meta">Rating: {{game.rating}} / 10</div>
							<div class="price">Price: {{game.price}}</div>
							<a href="" routerLink="/game/detail/{{game._id}}" class="read-more">Read More <img
									src="../../../assets/img/icons/double-arrow.png" alt="#" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-5 sidebar">
				<div id="stickySidebar">
					<div class="widget-item">
						<h4 class="widget-title">Trending</h4>
						<div class="trending-widget">
							<div class="tw-item" *ngFor="let gameTr of gameListTrending; let i = index">
								<div class="tw-thumb">
									<img src="{{gameTr.imageUrl}}" alt="#">
								</div>
								<div class="tw-text">
									<div class="tw-meta text-white">Rating: {{gameTr.rating}}</div>
									<h5>{{gameTr.title}}</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="widget-item">
						<h4 class="widget-title">Game of the Day</h4>
						<a href="https://store.steampowered.com/app/526870/Satisfactory/" class="add">
							<img src="./../../../assets/img/games/stf-update.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Blog section end -->