<header class="header-section">
  <div class="header-warp">
    <div class="header-bar-warp d-flex">
      
      <a href="/" routerLink="/" class="site-logo">
        <img src="../../../assets/img/logo.png" alt="">
      </a>
      <nav class="top-nav-area w-100">

        <ng-template #loggedOutTemplate>
          <div class="user-panel">
            <a href="/auth/login" routerLink="/auth/login">Login</a> / 
            <a href="/auth/register" routerLink="/auth/register">Register</a>
          </div>
        </ng-template>

        <ng-template #loggedInTemplate>
          <div class="user">
              <div class="user-panel">
                <a href="/game/new" routerLink="/game/new">Add Game</a> / 
                <a href="/auth/profile" routerLink="/auth/profile">Dashboard</a> / 
                <a routerLink="/auth/logout">Log Out</a>
              </div>
          </div>
        </ng-template>

        <ng-container *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"></ng-container>
        
        <ul class="main-menu primary-menu">
          <li><a href="/" routerLink="/">Home</a></li>
          <li *ngIf="isLoggedIn">
            <a href="/game/game-list" routerLink="/games">Games</a>
          </li>
          <li><a href="/contact" routerLink="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>