<header class="header-section">
    <div class="header-warp">
      <div class="header-social d-flex justify-content-end">
        <p>Follow us:</p>
        <a href="#"><i class="fa fa-pinterest"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
      </div>
      <div class="header-bar-warp d-flex">
        <!-- site logo -->
        <a href="/" routerLink="/" class="site-logo">
          <img src="./assets/img/logo.png" alt="">
        </a>
        <nav class="top-nav-area w-100">
          <div class="user-panel" *ngIf="!isLoggedIn">
            <a href="/login" routerLink="/login">Login</a> / <a href="/register" routerLink="/register">Register</a>
          </div>
          <div class="user-panel" *ngIf="isLoggedIn">
            <a href="/dashboard" routerLink="/dashboard">Dashboard</a> / <button type="button" class="btn btn-default btn-sm" (click)="authService.SignOut()">Log out</button>
          </div>
          <!-- Menu -->
          <ul class="main-menu primary-menu">
            <li><a href="/" routerLink="/">Home</a></li>
            <li *ngIf="isLoggedIn"><a href="/games" routerLink="/games">Games</a>
              <ul class="sub-menu">
                <li><a href="/game-details" routerLink="/game-details">Game Singel</a></li>
              </ul>
            </li>
            <li><a href="/contact" routerLink="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

<router-outlet></router-outlet>