<!-- Page top section -->
<section class="page-top-section">
    <div class="page-info">
        <h2>Games List</h2>
        <div class="site-breadcrumb">
            <a href="/" routerLink="/">Home</a> /
            <span>Games List</span>
        </div>
    </div>
</section>
<!-- Page top end-->

<section class="games-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-7">
                <ul class="row">
                    <li class="col-lg-4 col-md-6" *ngFor="let game of gameList; let i = index">
                        <div class="game-item">
                            <img src="{{game.imageUrl}}" alt="#">
                            <h5>{{game.title}}</h5>
                            <p class="rating">Rating: {{game.rating}}</p>
                            <a routerLink="/game/detail/{{game._id}}" class="read-more">Read More <img
                                    src="./assets/img/icons/double-arrow.png" alt="#" /></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>