<!-- Page top section -->
<section class="page-top-section">
  <div class="page-info">
    <section class="your-games">
      <h2 *ngIf="!isEmpty">Your Games</h2>
      <h2 *ngIf="isEmpty">You don't have games yet!</h2>
    </section>
    <div class="site-breadcrumb">
      <a href="/" routerLink="/">Home</a> /
      <span>Dashboard</span>
    </div>
  </div>
</section>
<!-- Page top end-->

<section id="dashboard">
  <div class="row">
    <div class="col-12">
      <div class="text-white">


        <div class="p-0">
          <table class="text-white text-nowrap" cellpadding="0" cellspacing="0">
            <thead>
              <tr>
                <th class="text-center">Image</th>
                <th class="title-margin">Title</th>
                <th>Genres</th>
                <th>Rating</th>
                <th>Price</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let game of gameList; let i = index" class="game">
                <td class="image-col">
                  <img src={{game.imageUrl}} alt="game-image">
                </td>
                <td class="title-margin">
                  {{game.title}}
                </td>
                <td>
                  {{game.genres}}
                </td>
                <td>
                  {{game.rating}}
                </td>
                <td>
                  {{game.price}}
                </td>
                <td>
                  <a class="details-btn dtls" routerLink="/game/detail/{{game._id}}">Details</a>
                </td>
                <td>
                  <!-- <a class="details-btn" routerLink="/game/delete/{{game._id}}">Delete</a> -->
                  <button type="button" class="details-btn del" (click)="deleteGame(game._id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>