/* ----------------
  Footer section
---------------------*/

footer {
	position:inherit;
	bottom: 0;
	width: 100%;
  }

.footer-section {
	text-align: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#330d38+0,190d36+100 */
	background: #2B0D37;
}

.footer-section .container {
	position: relative;
	padding: 60px 15px 25px;
}

.footer-left-pic {
	position: absolute;
	left: -13px;
	bottom: 19px;
}

.footer-right-pic {
	position: absolute;
	right: 50px;
	bottom: 19px;
}

.footer-menu {
	padding-top: 62px;
}

.footer-menu li:last-child a {
	margin-right: 0;
}

.footer-social {
	padding-top: 20px;
	padding-bottom: 40px;
}

.footer-social a:first-child {
	margin-left: 0;
}

.copyright {
	font-size: 12px;
	font-weight: 500;
	color: #9190a5;
	opacity: 0.20;
}

.copyright a {
	color: #9190a5;
}

.copyright a:hover {
	text-decoration: underline;
}